$color-mode-type: data;
.boss-detail {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px);
}

.boss-detail.show {
    max-height: 500px; /* Đảm bảo lớn hơn nội dung thẻ div */
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 1rem;
}

.page-title {
    margin-top: 72px;
}
@include color-mode(dark) {
    #main-content {
        background-color: black;
    }

    .form-check-input:checked {
        background-color: #30d158;
        border-color: rgb(48, 209, 88);
    }

    .form-check-input:focus {
        box-shadow: 0 0 0 0.25rem rgba(48, 209, 88, 0.25);
    }
}

@include color-mode(light) {
    * {
            color: rgb(20 23 25 / 80%)
    }

    #main-content {
        background-color: rgb(217 221 226);
    }
   
}